[Desktop Entry]
Encoding=UTF-8
Name=Custom startup services
Name[de_DE]=Benutzerdefinierten Systemstart Dienstleistungen
Name[es_AR]=Servicios de arranque personalizado
Name[fr_FR]=Services de démarrage personnalisé
Name[it_IT]=Servizi di avvio personalizzato
Name[ja_JP]=カスタム スタートアップ サービス
Name[pl_PL]=Własne programy startowe
Name[pt]=Serviços de inicialização personalizado
Name[ru_RU]=Пользовательские запуск услуги
Name[sv_SE]=Anpassade Autostart tjänster
Comment=Manage your startup applications
Comment[bg_BG]=Управление на стартиращите приложения
Comment[ca]=Gestiona les aplicacions d'inici
Comment[cs_CZ]=Spravovat vaše aplikace při spuštění
Comment[cy]=Rheoli eich rhaglenni cychwyn
Comment[da]=Håndtér dine opstartsprogrammer
Comment[da_DK]=Håndtér dine opstartsprogrammer
Comment[de_DE]=Ihre Startprogramme verwalten
Comment[es]=Gestionar las aplicaciones de inicio
Comment[eu_ES]=Kudeatu zure abioko aplikazioak
Comment[fi_FI]=Hallinnoi automaattisesti käynnistyviä sovelluksiasi
Comment[fr_FR]=Gérez vos applications au démarrage
Comment[gl_ES]=Administrar os seus aplicativos do inicio
Comment[hr]=Upravljajte vašim pokrenutim aplikacijama
Comment[hu_HU]=Bejelentkezéskor elindítandó alkalmazások
Comment[is]=Sýsla með forrit virkjuð í ræsingu
Comment[it_IT]=Gestisci le tue applicazioni di avvio
Comment[ko_KR]=여러분의 시작 프로그램을 관리하세요
Comment[nl_NL]=Beheer uw opstarttoepassingen
Comment[pl_PL]=Wybór własnych usług uruchamianych wraz ze startem systemu
Comment[pt_BR]=Gerencie seus aplicativos de inicialização
Comment[ro_RO]=Gestionați aplicațiile de pornire
Comment[sk_SK]=Spravovať aplikácie spúšťané automaticky po spustení pc
Comment[sq]=Menaxhoni programet tuaja të nisjes
Comment[sv_SE]=Hantera dina uppstartsprogram
Comment[tr]=Başlangıç uygulamalarınızı yönetin
Comment[uk_UA]=Керування запуском Ваших додатків
Comment[vi_VN]=Quản lý ứng dụng khởi chạy của bạn
Comment[zh_CN]=管理启动程序
Comment[zh_HK]=管理你的始動應用程式
Comment[zh_TW]=管理您的系統啟動應用程式
Exec=/usr/bin/sparky-autostart
Icon=applications-system
Categories=Settings;
Terminal=False
Type=Application
